<h2>タスク詳細画面</h2>
<p>タスク名: <%= @task.title %></p>
<p>タスク詳細: <%= @task.content %></p>
<p>終了期限：<%= @task.deadline.strftime("%Y年%m月%d日") if @task.deadline.present? %></p>
<%= link_to 'task一覧画面に戻る', tasks_path %>
