// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.PostTable {
    border-collapse: separate;
    border-spacing: 15px 7px;
    margin-left : auto ;
	  margin-right : auto ;
}

.form-group {
  text-align: center;
}

.link_group {
  text-align: center;
}

.view_title{
  text-align: center;
}

.notice {
  text-align: center;
}

.btn btn-primary active{

}
